.done-true {
	text-decoration: line-through;
	color: grey;
}

td.tools {
	text-align: center;
}

td.tools i {
	cursor: pointer;
	font-size: 20px;
	padding-left: 2px;
}

td.tools i:nth-child(1) {
	padding-left: 0px;
}

.glyphicon-check, .glyphicon-unchecked {
	font-size: 1.2em;
	cursor: pointer;
}

.table tr.header {
  background-color: #2E6DA4 !important;
	color: #FFFFFF;
}

.table tbody tr > td.primary {
  background-color: #2E6DA4 !important;
}

th:last-child {
	text-align: center;
}

.logout {
	color: #337ab7 !important;
    text-decoration: none;
	cursor: pointer;
}

span.help-block {
	font-size: 11px;
	color: #B3B3B3;
}

.table ul {
	padding-left: 20px;
}

div.modal-footer span {
	color: #FF0000;
	padding-right: 15px;
}

div.nav-title {
	width: 30%;
	margin: 0 auto;
	padding-left: 10px;
}

div.nav-search {
	width: 40%;
	margin: 0 auto;
	padding-top: 8px;
}

div.nav-logout {
	width: 30%;
	margin: 0 auto;
	padding-right: 10px;
}

div.nav-logout ul.navbar-right {
	padding-right: 20px;
}

div.panel-success {
	margin-top: 25px;
}

div.panel-success .huge {
	font-size: 40px;
}

div.panel-success .text-right {
    margin-top: 5px;
}

ul.dropdown-menu li {
	cursor: pointer;
}
