<div class="modal-demo">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<div class="navbar-header nav-title">
					<div class="navbar-header">
						<span class="navbar-brand">TVPT</span> 
					</div>
				</div>
				<div class="navbar-header nav-search">
					<div class="navbar-center">
						<div class="input-group">
							<input type="text" class="form-control col-md-1" ng-model="$appCtrl.myFilter">
							<span class="input-group-addon"> <i class="glyphicon glyphicon-search"></i> </span>
						</div>
					</div>
				</div>
				<div class="navbar-header nav-logout">
					<div class="navbar-right">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span ng-class="$appCtrl.getFlagCss()"></span> <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a ng-click="$appCtrl.changeLang('gb')"><span class="flag-icon flag-icon-gb"></span> &nbsp; English</a></li>
									<li><a ng-click="$appCtrl.changeLang('pt')"><span class="flag-icon flag-icon-pt"></span> &nbsp; Português</a></li>
								</ul>
							</li>
							<li>
								<a class="logout" ng-click="$appCtrl.logout()">LOGOUT</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<button type="button" class="btn btn-primary" ng-click="$appCtrl.newClient()"> <span translate="btn_new_client"></span> </button>
	<!-- TO DELETE -->
	<button type="button" class="btn btn-primary" ng-click="$appCtrl.newUser()"> <span translate="btn_new_user"></span> </button>

	<br/> <br/>

	<table class="table table-hover">
		<tr class="header">
			<th class="col-xs-3"> <span translate="table_header_name"></span> </th>
			<th class="col-xs-2"> <span translate="table_header_username"></span> </th>
			<th class="col-xs-3"> <span translate="table_header_email"></span> </th>
			<th class="col-xs-2"> <span translate="table_header_services"></span> </th>
			<th class="col-xs-1"> <span translate="table_header_exp_date"></span> </th>
			<th class="col-xs- center"> <span translate="table_header_actions"></span> </th>
		</tr>
		<tbody ng-init="$appCtrl.loadClients()">

			<tr ng-repeat="client in $appCtrl.clients | filter:$appCtrl.myFilter">
				<td>{{client.name}}</td>
				<td>{{client.username}}</td>
				<td>{{client.email}}</td>
				<td> <ul> <li ng-repeat="service in client.services"> {{ service.name }} </li> </ul> </td>
				<td> {{client.expiration_date | date:"dd/MM/yyyy"}} </td>
				<td class="tools">
					<span isolate-click>
						<div class="row">
							<div class="col-md-1"> <i class="material-icons" ng-click="$appCtrl.todo()" uib-tooltip="Edit">edit</i> </div>
							<div class="col-md-1"> <i class="material-icons" ng-click="$appCtrl.todo()" uib-tooltip="Lock">lock</i> </div>
							<div class="col-md-1"> <i class="material-icons" ng-click="$appCtrl.deleteClient(client)" uib-tooltip="Delete">delete</i> </div>
						</div>
					</span>
				</td>
			</tr>

		</tbody>
	</table>

</div>

<br/>
